<div class="tab-pane fade active show" id="v-pills-courses" role="tabpanel" aria-labelledby="v-pills-courses-tab">

   <div class="d-inline-blocks card-paginate_wrap w-100 pull-left" id="manage_userdashboard_courses" data-region="manage_userdashboard_courses-preview-container">
    <div data-region="manage_userdashboard_courses-count-container"></div>
        <div data-region="manage_userdashboard_courses-list-container" id ="manage_userdashboard_coursesid"></div>
        <span class="overlay-icon-container cardpaginate-loader {{$hiddenclass}}{{^visible}}hidden{{/visible}}{{/hiddenclass}}" data-region="overlay-icon-container">
            <span class="loading-icon icon-no-margin">{{#pix}} ajax-loader, local_usermanagement, {{#str}} loading {{/str}} {{/pix}}</span>
        </span>
    </div>                  
</div>