<div class="tab-pane fade active show" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
  <!-- <h3>My profile Content Goes Here</h3> -->
   <div class="container">
      <div class="profile1-header">
        <h1>User Profile</h1>
        <p>Welcome back, {{name}}</p>
      </div>
      <div class="profile1-details">
        <img src="{{profile}}" alt="Profile Picture">
        <h2>Personal Information</h2>
        <p><strong>Name:</strong> {{name}}</p>
        <p><strong>Email:</strong> {{email}}</p>
        <p><strong>Role:</strong> Student</p>
        <p><strong>Phone:</strong> {{phone1}}</p>
        <p><strong>Address:</strong> {{address}}</p>
      </div>
    </div>

</div>