<div class="d-flex justify-content-end mb-3">
    <input type="text" class="form-control w-25" id="coursesearch" style="visibility: hidden;" placeholder="Search..." aria-label="Search"  onkeyup="(function(e){ require('block_admindashboard/main').coursesearch({selector:'studentremove',contextid:1 }) })(event)">
</div>
<div class="d-inline-blocks card-paginate_wrap w-100 pull-left" id="manage_usermanagementcourse" data-region="manage_usermanagementcourse-preview-container">
    <div data-region="manage_usermanagementcourse-count-container"></div>
    <div data-region="manage_usermanagementcourse-list-container" id ="manage_usermanagementcourse"></div>
    <span class="overlay-icon-container cardpaginate-loader {{$hiddenclass}}{{^visible}}hidden{{/visible}}{{/hiddenclass}}" data-region="overlay-icon-container">
        <span class="loading-icon icon-no-margin">{{#pix}} ajax-loader, local_rolemanagement, {{#str}} loading {{/str}} {{/pix}}
        </span>
    </span>
</div>